@tailwind base;
@tailwind components;
@tailwind utilities;

 .glass-card {
            background: rgba(255, 255, 255, 0.03);
            backdrop-filter: blur(12px);
            border: 1px solid rgba(255, 255, 255, 0.1);
        }
        .glass-card-inner {
           background: rgb(83 241 197);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(8, 48, 58, 0.1);
    color: #123d37;
        }
        .hero-gradient-text {
            background: linear-gradient(135deg, #ffffff 0%, #3713ec 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .grid-bg {
            background-image: radial-gradient(circle at 2px 2px, rgba(55, 19, 236, 0.1) 1px, transparent 0);
            background-size: 40px 40px;
        }
           .material-symbols-outlined {
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
        }
        .project-card:hover {
            box-shadow: 0 0 20px rgba(55, 19, 236, 0.2);
            transform: translateY(-4px);
            transition: all 0.3s ease;
        }
        .cta-gradient {
            background: linear-gradient(135deg, #3713ec 0%, #1a0b72 100%);
        }